@media only screen and (max-width: 1048px) {
    .x-container,
    .o-container {
        font-size:125px;
        width : 180px;
        height: 180px;
    }
    .X, .O { line-height: 160px; }
    .o-container { margin-right: 15px; }

    .main-container { 
        width: 400px;  
        height: 420px;
    }

    .element {
        font-size: 55px;
        width: 94px;
        height: 94px;
        line-height: 75px;
    }

}

@media only screen and (max-width: 820px) {
     .x-container,
     .o-container {
         font-size:110px;
         width : 150px;
         height: 150px;
     }
     .x-container { margin-left: 8px; }
     .X, .O { line-height: 120px; }
     .o-container { margin-right: 8px; }
 
     .main-container { 
         width: 360px;  
         height: 380px;
         padding: 15px;
     }
 
     .element {
         width: 90px;
         height: 90px;
         line-height: 72px;
     }
}

@media only screen and (max-width: 690px) {
    .x-container,
    .o-container {
        font-size: 100px;
        width : 130px;
        height: 130px;
        margin-top: 15px;
    }
    .x-container { top: 93%; left: 5%; }
    .o-container { top: 93%; right: 5%; }
    .settings-icon { padding-top: 10px; }
   
    .winner {
        top: -10%;
        left: -2%;
        width: 480px;   
        height: 130px;
    }
    
    .winner p {
        margin-left: 25px;
        margin-bottom: 25px;
    }
    
    .player {
        margin-right: 30px;
        font-size: 120px;
        line-height: 120px;
    }
}

@media only screen and (max-width: 500px) {
    .title {
        margin: 20px 0 0 20px;
        font-size: 35px;
    }

    .x-container,
    .o-container,
    .main-container { margin-top: -10px; }

    .x-container,
    .o-container {
        font-size: 90px;
        width : 105px;
        height: 105px;
    }

    .main-container { 
        width: 340px;  
        height: 360px; 
    }

    .element {
        font-size: 50px;
        width: 84px;
        height: 84px;
        line-height: 64px;
    }
    .element:default { opacity: 1; }
    .settings-icon { 
        font-size: 42px;
        padding-top: 15px;
    }

    .winner {
        width: 350px;   
        height: 100px;
    }
    
    .winner p {
        margin-left: 12px;
        margin-bottom: 18px;
        font-size: 30px;
    }
    
    .player {
        margin-right: 8px;
        font-size: 80px;
        line-height: 80px;
    }
}