* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    height: 100vh;
    background: -webkit-gradient(linear, left top, right bottom, from(rgb(0, 100, 113)), color-stop(rgb(65, 65, 65)),to(rgb(72, 0, 111)));
    background: linear-gradient(to bottom right, rgb(0, 100, 113), rgb(65, 65, 65),rgb(72, 0, 111));
    font-family: Monoton, arial;
    color: #fff;
    -webkit-tap-highlight-color: transparent; /* android */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-select: none;  /* Safari */        
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE10+/Edge */
    user-select: none; 
}

.title { 
    position: absolute;
    margin: 20px 0 0 30px;
    font-size: 40px;
}

.window,
.x-container,
.o-container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.window {
    max-width: 1024px;
    min-width: 350px;
    height: 80%;
    margin: 0 auto;
}

/* settings icons */
.main-settings {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 350px;
    padding-right: 30px;
}

.settings-icon {
    display: inline-block;
    width: 100%;
    font-size: 50px;
    padding: 10px 13px 0 0;
    text-align: end;
}

ul {
    background-color: #fff;
    list-style: none;
    text-align: center;
    font-size: 30px;
    color:#000;
    width: 100%;
    height: auto;
    border: 10px solid #fff;
    border-radius: 30px;
    box-shadow: 0 0 5px 5px rgba(209, 209, 209, 0.2);
    display: none;
}

li { 
    border: 5px solid rgb(236, 236, 236);
    border-radius: 30px;
    box-shadow: 0 0 5px 5px rgba(209, 209, 209, 0.2);
}

li img{ width: 90px; margin: 10px; } 

li:first-child{ margin-bottom: 35px;}

li,
.settings-icon a { cursor: pointer; }

/* congratualations message */
.winner {
    display: block;
    position: absolute;
    left: 0; right: 0; bottom: 0; top: 0;
    width: 550px;   
    height: 160px;
    margin: auto;
    background-color: #fff;
    z-index: 9999;
    border: 10px solid #fff;
    border-radius: 30px;
    box-shadow: 0 0 5px 5px rgba(209, 209, 209, 0.2);
}

.winner p {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 50px;
    margin-bottom: 30px;
    font-family: Lato;
    font-size: 40px;
    font-weight: 200;
    color: rgba(236,226,29,1);
    letter-spacing: 1px;
}

.player {
    float: right;
    margin-right: 30px;
    font-size: 150px;
    line-height: 150px;
    color:  #000;
}

/* X-O - Containers */
.x-container,
.o-container {
    font-size:150px;
    color: rgba(209, 209, 209, 0.2);
    text-align: center;
    width : 200px;
    height: 200px;
}

.x-container{ float: left; }
.o-container{ float: right; }

.X, .O { line-height: 180px; }

.active { color: #fff; }

/* Main - Controller */
.main-container { 
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width : 430px;
    height: 450px;
    border: 10px solid rgba(209, 209, 209, 0.2);
    border-radius: 30px;
    padding: 30px;
}

.container { 
    width: 100%;
    height: 100%;
    text-align: center;
}

.row {
    display: block;
    height: 33.34%;
    padding: 2px;  
}

.row { margin: 0px 0; }
.row--1 { margin-top: 0px; }
.row--3 { margin-bottom: 0px; }

.element,
.element:link,
.element:visited
 {
    display: inline-block;
    font-size: 55px;
    width: 100px;
    height: 100px;
    text-align: center;
    text-decoration: none;
    border: 10px solid rgba(209, 209, 209, 0.2);
    border-radius: 20px;
    margin: 7px 5px;
    padding: 2px;
    cursor: pointer;
    vertical-align: middle;
    line-height: 80px;
}

@media not all and (pointer: coarse) {
    .element:hover { opacity: 0.5; }
}
.element:active { opacity: 0.5; }